// app

$white: #ffffff;
$chromaGrey: #566372; // rgba(86, 99, 114, 1);
$armyGreen: #507065; // rgba(80, 112, 101, 1);
$velvetPurple: #6A5E84; // rgba(106, 94, 132, 1);
$soilBrown: #6D3844;  // rgba(109, 56, 68, 1);
$rosePink: #DE88B8; // rgba(222, 136, 184, 1);
$salmon: #f16876; // rgba(241, 104, 118, 1);
$aluminiumGrey: #9696A0; // rgba(150,150,160, 1);

// social
$linkedinBlue: #0177B5;
$facebookBlue: #3B5998;
$skypeBlue: #00AFF0;
$twitterBlue: #1DA1F2;